{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Project 2</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'eventhandling/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'eventhandling/css/main.css' %}" />

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Project 2</h3>
				<ul class="list-group">
				  <li class="list-group-item"><a href="a/">Event Handling - Task A (Cycle 3)</a></li>
				  <li class="list-group-item"><a href="b/">Event Handling - Task B (Cycle 3)</a></li>
          <li class="list-group-item"><a href="/touchgestures/">Touch Gestures (Cycle 3)</a></li>
          <li class="list-group-item"><a href="/coloring/demo/">Coloring - Gradients Demo (Cycle 3)</a></li>
          <li class="list-group-item"><a href="/coloring/newinteraction/">Coloring - New Interaction (Cycle 4)</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
