{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/css/main.css' %}" />

	<script src="{% static 'touchgestures/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Touch Gestures</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    
	  var rotateB = document.getElementById('rotate-box');
    var rotateHam = new Hammer (rotateB);
    rotateHam.get('rotate').set({enable: true});
    rotateHam.on("rotate", function(){
      rotateB.style.backgroundColor = 'pink' ;
    });

	  var pinchB = document.getElementById('pinch-box');
    var pinchHam = new Hammer (pinchB);
    pinchHam.get('pinch').set({enable: true});
    pinchHam.on("pinch", function(){
      $("#pinch-box").stop().animate({height : "200px", width : "200px"});
    });

    var pressB = document.getElementById('press-box');
    var pressHam = new Hammer (pressB);
    pressHam.on("press", function(){
      pressB.style.backgroundColor = 'green' ;  
    });

    var panB = document.getElementById('pan-box');
    var panHam = new Hammer (panB);
    panHam.get('pan').set({ direction: Hammer.DIRECTION_ALL });
    panHam.on("pan", function(){
      panB.style.backgroundColor = 'red' ;  
    });

    var tapB = document.getElementById('tap-box');
    var tapHam = new Hammer (tapB);
    tapHam.on("tap", function(){
      tapB.style.backgroundColor = 'orange' ;  
    });

    var swipeB = document.getElementById('swipe-box');
    var swipeHam = new Hammer (swipeB);
    swipeHam.on("swipe", function(){
      swipeB.style.backgroundColor = 'blue' ;  
    });

  </script>
</body>
</html>
